@model IEnumerable<Question>

@{
    ViewData["Title"] = "Questions to me";
}

<h1>Unanswered questions</h1>


@foreach (Question question in Model)
{
    <div class="card m-3">
        <div class="card-header">
            Asked by:
            @if (question.AskedFrom is null)
            {
                <span>annonymous user</span>
            }
            else
            {
                <a href="#">@question.AskedFrom.UserName</a>// TODO: Real href.
            }
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@question.QuestionText</p>
                <a class="btn btn-primary" asp-controller="User" asp-action="AnswerQuestion" asp-route-questionId="@question.Id">Answer</a>
            </blockquote>
        </div>
    </div>
}
