@model IEnumerable<Question>

@{
    ViewData["Title"] = "Received Questions";
}

<h1>Unanswered received questions</h1>


@foreach (Question question in Model)
{
    <div class="card m-3">
        <div class="card-header">
            Asked by:
            @if (question.AskedFrom is null)
            {
                <span>anonymous user</span>
            }
            else
            {
                <a href="#">@question.AskedFrom.UserName</a>// TODO: Real href.
            }
            | at @question.DateTime
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@question.QuestionText</p>
                <a class="btn btn-primary" asp-controller="Questions" asp-action="Answer" asp-route-id="@question.Id">Answer</a>
            </blockquote>
        </div>
    </div>
}
