@model IEnumerable<QuestionViewModel>

@{
    ViewData["Title"] = "Received Questions";
}

@if (!Model.Any())
{
    <h1>You don't have any unanswered received questions!</h1>
}
else
{
    <h1>Unanswered received questions</h1>
}


@foreach (QuestionViewModel question in Model)
{
    <div class="card m-3">
        <div class="card-header">
            Asked by:
            @if (question.AskedFromUsername is null)
            {
                <span>anonymous user</span>
            }
            else
            {
                <a href="#">@question.AskedFromUsername</a>// TODO: Real href.
            }
            | at @question.Date
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@question.Text</p>
                <a class="btn btn-primary" asp-controller="Questions" asp-action="Answer" asp-route-id="@question.Id">Answer</a>
            </blockquote>
        </div>
    </div>
}
