@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AskQ</h1>
    <p>This project is an Ask.fm clone written using ASP.NET Core 3.1. The source code is available on <a href="https://github.com/Youssef1313/AskQ">GitHub</a>.</p>
</div>
